
#mainNavbar{
    background-color: white;
   /* box-shadow: 2px 1px 3px 0.1px #000000;*/
}

#navbarDropdown:hover{
    color: green;
    font-size: 1.15rem;
    font-weight: 500;
}

#navbarDropdown{
    font-weight: 400;
    line-height: 1.25;
}

@media (min-width: 1280px){
	#navbarDropdown{
    	font-size: 1.15rem;
	}
}

body{
    background-color: #fffdd0;
    padding-top: 68px;
}

.navbar-brand{
    font-weight:350;
    font-size:2rem;
}

#Navbar-Brand:hover{
    color:green;
    font-weight: 400;
}



@media (max-width: 900px ){
    .carousel-item{
        height: 400px;
      }
     .carousel-caption d-none d-block pb-2{
        font-size: 20px;
    }

}

.dropdown-item:hover{
    color:green;
    font-size:1.125rem;
}



@media(max-width:900px){
.carousel-caption h2{
    font-size: 0.7rem;
}
.navbar-brand{
    font-size:1.75rem;
}
}

@media(max-width:900px){
    .carousel-caption p{
        font-size: 0.6rem;
    }
    }

/*facts*/

.fact-area{
    width: 100%;
    height: 100vh;
    display:flex;
}

.fact-box{
    box-shadow: 0px 10px 50px 5px rgba(153,153,153,0.2);
}

.single-fact{
    text-align: center;
    margin:45px 0;
    padding:8px 16px;
    border-right: 1px solid #ddd;
    font-family: 'Josefin Sans', sans-serif;
}

#facts-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color:rgba(210,105,30,0.8);
}
.fa-carrot{
    color: orangered;
}

.single-fact h2{
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 300;
    text-align: right;
}

.single-fact h1{
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 300;
    text-align: left;
}

.icon{
    text-align: center;
}

.single-fact p{
    font-size:2rem;
    text-align: center;
    font-weight:300;
    color:rgba(210,105,30,0.8);
}

@media (max-width:990px){
    .single-fact p{
        font-size:14px;
        font-weight:300;
    }
    .single-fact h2{
        font-size: 1.8rem;
        margin-top: 1rem;
        font-weight: 300;
        text-align: right;
    }
    .single-fact h1{
        font-size: 1.8rem;
        margin-top: 1rem;
        font-weight: 300;
        text-align: left;
    }
    #facts-heading h2{
        font-size: 1.25rem;
    }
    .fact-box{
        padding-top: 0;;
        height:325px;
    }
}

#icon {
    height: 50px;
    width: 50px;
}

.fact-box{
    background-color: white;
}