body {
  background-color:PaleGreen;
}
.container{
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
}

@media (max-width: 900px ){
    .container-image{
        height: 250px;
    }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-frame{
margin: 50px;
display: flex;
flex-wrap: wrap;
align-items: center;
}


.card{
  margin:20px;
  padding:10px;
  width:462px;
  height:400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-self: center;
}

.container-internal {
  padding: 0 16px;
  background-color: BlanchedAlmond;
}



.title {
  color: black;
}
